@import url("https://fonts.googleapis.com/css?family=Nanum+Myeongjo:400");

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

body,
html {
  font-family: "Nanum Myeongjo", "malgun gothic";
  height: 100%;
  margin: 0;
}

#root {
  width: 100%;
  background-color: #f9f8ef;
}

#root > div:first-child {
  height: 100%;
  width: 100%;
}

.App-pages > div:first-child {
  overflow: auto !important;
}
